@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffede2;
  --foreground: #171717;
  --primary: #da634b;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-kanit-sans), sans-serif;
}
